@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Underdog&display=swap');

body {
    background-color: black;
    font-family: "Jersey 10", sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: white;
    letter-spacing: 2px;
}

#playingBoard {
    background-color: black;
    border: 3px solid purple;
}

.score-pag {
    position: absolute;
    text-align: center;
    margin: -27% 0 0 36%;
    border-radius: 50px;
    display: none;
}

.score-pag h5 {
    margin: 40px 0px 0px 0px;
    color: white;
    font-size: 50px;
    letter-spacing: 2px;
}

.score-pag p {
    margin: 10px 0px 20px 0px;
    color: white;
    font-size: 50px;
}

.score-pag button {
    font-family: "Jersey 10", sans-serif;
    color: white;
}

.btn-cntrls {
    display: flex;
    justify-content: space-evenly;
}

.btn-cntrls img {
    width: 100px;
    height: 100px;
    display: none;
}

/** Media Queries*/
@media screen and (max-width: 768px) {
    #playingBoard {
        position: relative;
        left: 5px;
        width: 300px;
        height: 300px;
    }

    .btn-cntrls {
        justify-content: space-evenly;
    }
    
        .btn-cntrls img {
        width: 50px;
        height: 50px;
        display: block;
        padding-left: 10px;

    }
}

@media screen and (max-width: 480px) {
    #playingBoard {
        position: relative;
        left: -5px;
        width: 250px;
        height: 300px;
    }

    .btn-cntrls {
        justify-content: space-between;
    }

    .btn-cntrls img {
        width: 60px;
        height: 60px;
       padding: 5px;
    }
}

@media screen and (max-width: 320px) {
    #playingBoard {
        position: relative;
        left: -13px;
        width: 180px;
        height: 250px;
    }

    .btn-cntrls img {
        width: 30px;
        height: 30px;
        padding: 5px;
    }
}
